/* Place your CSS styles in this file */

body {background-color: lightskyblue;
      border:2px solid lavender;
      border-radius: 5px;
 }

h1  {text-align: center;
    text-decoration-color: cadetblue; 
    }

    
   feConvolveMatrix{font-style: oblique;}
    font ::grammar-error:;
    }
    p {text-align: right;}
    }
    ul{List list-style-type:none;}
      }
      li {display: inline;} 
         {


